Flask==3.0.3
tensorflow-cpu==2.18.0  
numpy==1.26.4
requests==2.32.3
Pillow==10.4.0
opencage==3.0.4
Werkzeug==3.0.3
opencv-python-headless==4.10.0.84
gunicorn==22.0.0
scikit-image==0.23.1
python-dotenv==1.0.1

